.filecontainer{
    max-width: 500px;
}

.page-header{
    text-align: center;
    /*font-family: 'Marko One', serif;*/
}

.list-group_button{
    float: right;
    display: block;
    padding: 0px 5px 0px;
    margin: 0px 5px 0px;
    vertical-align: center ;

}

.textoverflow{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 20px;

}

.list-group-item{
    min-height: 60px;
}
.textoverflow:hover{
    text-overflow: ellipsis;
    overflow: visible;
}